<ion-header [translucent]="true">
  <ion-toolbar style="margin: auto;">
      <ion-img
        class="logo-header"
        src="../../assets/header/logo_branca.png"
      ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-img
        class="logo-header"
        src="../../assets/header/logo_branca.png"
      ></ion-img>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
